* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

body {
    overflow: hidden;
}
.infoGame {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
p {
    margin: 0 4vw;
    padding: 10px;
    color: #eee;
    margin-bottom: 5px;
}

span {
    margin-left: 5px;
}
.timeTop {
    font-size: 120%;
    color: red;
    font-weight: bold;
    text-shadow: 0 0 2px #eee;
    transition: font-size 1s, color 1s, font-weight 1s;
}
.game {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.square {
    flex-basis: 15%;
    height: 28vh;
    border: 1px solid #eee;
    transition: background-color 1s;
    background-position: center;
    background-size: cover;
    transition: transform 0.33s;
}
.ayr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #eee;
    text-shadow: 0 0 15px rgb(133, 2, 255);
}
.menuBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.menuBtn button,
.menuBtn a {
    padding: 5px 25px;
    margin: 0 30px;
    font-size: 14px;
    background: linear-gradient(
        140deg,
        rgb(255, 255, 255) 0%,
        rgb(255, 2, 112) 100%
    );
    color: rgba(110, 28, 106, 0.706);
    font-weight: bold;
    text-shadow: 2px 1px 25px rgb(255, 255, 255);
    box-shadow: 2px 5px 22px rgba(255, 255, 255, 0.567);
    border: 2px solid rgb(251, 251, 251);
    border-radius: 24px;
    cursor: pointer;
}
.menuBtn a {
    text-decoration: none;
}

.red {
    background-image: url(https://images.unsplash.com/photo-1532274402911-5a369e4c4bb5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA2fHxuYXR1cmV8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60);
}
.blue {
    background-image: url(https://images.unsplash.com/photo-1503614472-8c93d56e92ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTEyfHxuYXR1cmV8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60);
}
.yellow {
    background-image: url(https://images.unsplash.com/photo-1458501534264-7d326fa0ca04?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTE5fHxuYXR1cmV8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60);
}
.green {
    background-image: url(https://images.unsplash.com/photo-1559666126-84f389727b9a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTIwfHxuYXR1cmV8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60);
}
.brown {
    background-image: url(https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTI0fHxuYXR1cmV8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60);
}
.gray {
    background-image: url(https://images.unsplash.com/photo-1507608616759-54f48f0af0ee?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTI2fHxuYXR1cmV8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60);
}
.lightgreen {
    background-image: url(https://images.unsplash.com/photo-1472396961693-142e6e269027?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTI4fHxuYXR1cmV8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60);
}
.cadetblue {
    background-image: url(https://images.unsplash.com/photo-1470813740244-df37b8c1edcb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTMzfHxuYXR1cmV8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60);
}
.violet {
    background-image: url(https://images.unsplash.com/photo-1542856391-010fb87dcfed?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTUyfHxuYXR1cmV8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60);
}

.off {
    background-color: transparent;
    background-image: none;
}
.hidden {
    background-color: rgba(51, 51, 51, 0.926);
    background-image: none;
}
.flipCard {
    transform: rotateY(180deg);
}

@media (orientation: portrait) {
    .square {
        flex-basis: 28%;
        height: 13vh;
    }
    .menuBtn button,
    .menuBtn a {
        padding: 5px 25px;
        margin: 0 10px;
        font-size: 12px;
    }
}
